<div class="log_in">
<h1>Log In</h1>
<%= form_tag sessions_path do %>
  Email :
  <input type="email" name="email"><br>
  Password :
  <input type="password" name="password"><br>

  <input class='btn btn-sm btn-secondary' type="submit" value="Sign In">
  <br>
  <%= flash[:alert] %>

<% end %>
</div>
