    <div class="root">
                <h1>JMY CLOTHING</h1>
                <h3>IT'S SHOP O'CLOCK SOMEWHERE<h3>
          </div>

<section class="welcome">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-6">
                <div class="card">
                    <a href="/products">
                      <div class="card-bg-img-wel" style="background-image: url('https://www.sketchappsources.com/resources/source-image/casual-wear-and-clothing-icons-kosmofish.jpg');"></div>
                        <div class="card-block">
                            <p class="product_index_name">SWEATSHIRTS</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="card">
                    <a href="/products">
                      <div class="card-bg-img-wel" style="background-image: url('https://image.freepik.com/free-vector/simple-clothing-icons-pack_1051-618.jpg');"></div>
                        <div class="card-block">
                            <p class="product_index_name">JEANS</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="card">
                    <a href="/products">
                      <div class="card-bg-img-wel" style="background-image: url('http://image.shutterstock.com/z/stock-vector-summer-vacation-flat-line-icons-holiday-essentials-clothes-accessories-and-travel-documents-368923757.jpg');"></div>
                        <div class="card-block">
                            <p class="product_index_name">SWIM</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="card">
                        <a href="/products">
                          <div class="card-bg-img-wel" style="background-image: url('http://st.depositphotos.com/1521427/1732/v/950/depositphotos_17325839-stock-illustration-clothing-icons-set-2.jpg');"></div>
                            <div class="card-block">
                                <p class="product_index_name">DRESS & SKIRTS</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="card">
                            <a href="/products">
                              <div class="card-bg-img-wel" style="background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/163014/580/386/m1/fpnw/wm0/12-.gif?1408191671&s=c69674347e532896c01018f77a184c61');"></div>
                                <div class="card-block">
                                    <p class="product_index_name">SHOES</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
