    <div class="root">
                <h1>JMY CLOTHING</h1>
                <h3>IT'S SHOP O'CLOCK SOMEWHERE<h3>
          </div>

<section class="welcome">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-6">
                <div class="card">
                    <a href="/products">
                        <div class="card-bg-img-wel" style="background-image: url("https://www.sketchappsources.com/resources/source-image/casual-wear-and-clothing-icons-kosmofish.jpg");"></div>
                        <div class="card-block">
                            <p class="product_index_name">SWEATSHIRTS</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="card">
                    <a href="/products">
                        <div class="card-bg-img-wel wel2"></div>
                        <div class="card-block">
                            <p class="product_index_name">JEANS</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="card">
                    <a href="/products">
                        <div class="card-bg-img-wel wel3"></div>
                        <div class="card-block">
                            <p class="product_index_name">SWIM</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="card">
                        <a href="/products">
                            <div class="card-bg-img-wel wel4"></div>
                            <div class="card-block">
                                <p class="product_index_name">DRESS & SKIRTS</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="card">
                            <a href="/products">
                                <div class="card-bg-img-wel wel5"></div>
                                <div class="card-block">
                                    <p class="product_index_name">SHOES</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
