/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import "bootstrap";
 @import "bourbon";

 @import url('https://fonts.googleapis.com/css?family=Barrio|Caveat+Brush|Pacifico');


 html {
  position: relative;
  font-size: 14px;
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

.nav_ {
  font-family: 'Caveat Brush', cursive;
}

 .landing {
   margin-top: 10px;
   min-height: 50vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #5bc0de;
   color: #ffffff;
   margin-bottom: 1.5em;

   position: relative;

    h1 {
    font-family: 'Barrio', cursive;
    font-size: 6em;
    margin-bottom: 3px;
    @include media-breakpoint-up(md) {
    font-size: 5vw;
    }
    @include media-breakpoint-up(lg) {
    font-size: 5rem;
    }
    }
    h2 {
    font-family: 'Barrio', cursive;
    font-size: 3em;
    margin-bottom: 1em;
    @include media-breakpoint-up(md) {
      font-size: 3vw;
    }
    @include media-breakpoint-up(xl) {
      font-size: 3rem;
    }
      }

  }

.product_index_name {
        font-size: 2.5em;

        font-family: 'Caveat Brush', cursive;
        text-decoration: none;
  }


.card-bg-img {
background-size: cover;
height: 12rem;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background-position: center;
}


.each_product {
  position: relative;
  margin: 0 0 4rem;
  &__hero {
    position: relative;
    background-size: cover;
    background-position: center center;
    min-height: 40vh;

    filter: grayscale(50%);
    z-index: 100;
  }

   &__hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 40vh;
    pointer-events: none;
    background-image: linear-gradient(to top, #ff5b77, darken(#ff5b77, 18%));
    opacity: .92;
    z-index: 150;
  }

   &__hero-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Pacifico', cursive;
    h2 {
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
  }
}
}

.form {
  label {
    font-weight: 400;
  }
  input, textarea {
    @extend .form-control;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  a {
    @extend .btn, .btn-primary, .btn-sm;
    + a {
      @extend .btn-secondary;
    }
  }
}

.post {
  margin-bottom: 2rem;
}

.edit {
  font-family: 'Caveat Brush', cursive;
  background: #FFC39F;
  min-height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    label {
      color: #d9534f;
    }
    flex: 2 2 auto;
    max-width: 20em;
  }
}

.p_body {
  text-align: center;
  margin: auto;
  font-family: 'Caveat Brush', cursive;
}

.comment-container, .p_comment {
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Caveat Brush', cursive;

}


a.back-btn {
  position: absolute;
  background: rgba(white,0.2);
  top: 5rem;
  left: 4rem;
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 5000em;
  z-index: 250;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Back_Arrow.svg/1024px-Back_Arrow.svg.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transform: all 100ms ease;
  &:hover {
    background-color: rgba(white,0.4);
  }
}


.field_with_errors {
  &:after {
    content: 'Required';
    color: #5bc0de;
    display: block;
  }
  input, textarea {
    border-color: red;
  }
}
