<section class="landing">
  <svg
      class="logo"
      style="enable-background:new 0 0 110 110;"
      version="1.0" viewBox="0 0 110 110"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- <g id="Artboard"/>
    <g id="Multicolor">
      <circle cx="55" cy="55" r="55" class="logo__bg"/>
      <g>
        <polygon points="49.67,76.33 43,83 43,73   " style="fill:#CFD3D4;"/>
        <polygon points="87,27 65,84 43,73 43,83 35,67 23,59   " style="fill:#FFFFFF;"/>
        <polygon points="35,67 43,83 43,73 87,27   " style="fill:#E2E4E5;"/>
      </g>
    </g> -->
  </svg>
  <h1>Online Shoping Site</h1>
</section>


<div id="landing-anchor"></div>
<section class="locations" >
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
          <div class="col-md-6 col-lg-6">
            <%= link_to(product_path(product)) do %>
                <div class="card">
                  <div class="card-bg-img" style="background-image: url('<%= product.photo %>');">
                  </div>
                  <div class="card-block">
                    <p class="product_index_name"><%= product.name %></p>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</section>
