<section class="landing">
  <h1>GOOGLE FONT </h1>
  <h2>Shop HERE</h2>
</section>

<section class="products" >
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
          <div class="col-md-6 col-lg-6">
            <%= link_to(product_path(product)) do %>
                <div class="card">
                  <div class="card-bg-img" style="background-image: url('<%= product.photo %>');">
                  </div>
                  <div class="card-block">
                    <p class="product_index_name"><%= product.name %></p>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</section>
